<h1>Articles</h1>

<div class="hero-section">
  <div class="hero-content">
    <h2>Welcome to the Articles</h2>
    <p>Your source for insightful content and engaging discussions.</p>
    <%= link_to "New Article", new_article_path, class: "new-article-button" %>
  </div>
</div>

<p class="article-count">Our blog has <span><%= Article.public_count %></span> articles and counting!</p>

<div class="articles-list">
  <h3>Your Today Reading List!</h3>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <div class="article-card">
        <h2 class="article-title">
          <%= link_to article.title, article, class: "article-link" %>
        </h2>
        <p class="article-body"><%= article.truncated_body %></p>
        <p class="comment-count"><%= pluralize(article.comments.count, "comment") %></p>
      </div>
    <% end %>
  <% end %>
</div>